<div class="admin-page">
  <p-card header="Users" subheader="List of all users">
    <div class="grid">
      <div class="col-12">
        <p-toolbar>
          <div class="toolbar-group-start">
            <p-button styleClass="p-button-success" routerLink="form" label="New" icon="pi pi-plus"
              class="mr-2"></p-button>

          </div>
          <div class="toolbar-group-end">

          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-table [value]="users" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name" style="width:20%">Name <p-sortIcon field="name"></p-sortIcon></th>
              <th>Email</th>
              <th>is Admin</th>
              <th>Country</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>

              <td><p-tag *ngIf="user.isAdmin" icon="pi pi-check" severity="success" [rounded]="true"></p-tag>
                <p-tag *ngIf="!user.isAdmin" icon="pi pi-times" severity="danger" [rounded]="true"></p-tag>

              </td>
              <td>{{ user.country }}</td>

              <td>

                <p-button (onClick)="deleteUser(user.id)" styleClass="p-button-danger mr-2"
                  icon="pi pi-trash"></p-button>
                <p-button styleClass="p-button-success" (onClick)="editUser(user.id)" icon="pi pi-pencil"></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>