header {
  .logo {
    img {
      width: 160px;
    }
    margin-bottom: 25px;
  }
  .tools {
    padding-top: 30px;
    .pi {
      margin-right: 10px;
    }
  }
  .navigation {
    padding: 1.6rem;
    padding-top: 33px;
  }
  .search {
    padding: 0.9rem;
    padding-top: 25px;
  }
}
