<div class="admin-page">
  <p-card header="Orders" subheader="List of all orders">
    <div class="grid">
      <div class="col-12">

      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-table [value]="orders" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name" style="width:20%">User <p-sortIcon field="user"></p-sortIcon></th>
              <th pSortableColumn="totaLprice" style="width:20%">Total Price <p-sortIcon
                  field="totaLprice"></p-sortIcon></th>
              <th pSortableColumn="dateOrdered" style="width:20%">Date Ordered <p-sortIcon
                  field="dateOrdered"></p-sortIcon></th>
              <th pSortableColumn="status" style="width:20%">Status <p-sortIcon field="status"></p-sortIcon></th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-order>
            <tr>
              <td>{{ order.user?.name }}</td>
              <td>{{ order.totaLprice }}</td>
              <td>{{ order.dateOrdered | date:'short' }}</td>
              <td><p-tag [value]="getlabelAndColor(order).label" [severity]="getlabelAndColor(order).color"></p-tag>
              </td>
              <td>
                <p-button (onClick)="deleteOrder(order.id)" styleClass="p-button-danger mr-2"
                  icon="pi pi-trash"></p-button>
                <p-button styleClass="p-button-success" (onClick)="showOrder(order.id)" icon="pi pi-eye"></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
